# Nuxt
.nuxt/
.output/
.data/
.env
.env.*
!.env.example

# Dependencies
node_modules/
.pnpm-store/

# Logs
*.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
dist/
.cache/

# Исключения для пустых папок - разрешаем коммитить .gitkeep файлы
!.gitkeep